<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>designspace</key>
	<array>
		<array>
			<string>pop</string>
			<real>1000.0</real>
		</array>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>glyphOne</string>
		<string>glyphTwo</string>
		<string>glyphThree</string>
		<string>glyphFour</string>
		<string>wide</string>
		<string>narrow</string>
		<string>wide.component</string>
		<string>narrow.component</string>
	</array>
	<key>ufoProcessor.test.lib.entry</key>
	<string>Lib entry for master 1</string>
</dict>
</plist>
